<mat-toolbar class="toolbar" color="accent">
  <span class="toolbar" style="margin-left: 25px">
    <mat-icon>movie</mat-icon>
    <span class="logo">Amazing List</span>
  </span>
  <span style="flex-direction: row">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>supervisor_account</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </span>
</mat-toolbar>
