<h1 mat-dialog-title>Add Product Form</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput placeholder="Title" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Published Year</mat-label>
      <input formControlName="year" matInput placeholder="Published Year" />
    </mat-form-field>
    <br />
    <br />
    <label style="margin-top: 10px">Movie/Series Components</label>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea
        formControlName="description"
        matInput
        placeholder="Favor escrever sinopse..."
        rows="4"
        cols="50"
      ></textarea>
    </mat-form-field>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Genre</mat-label>
        <mat-select formControlName="genre">
          <mat-option *ngFor="let genre of genres" [value]="genre">{{
            genre
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Providers</mat-label>
        <mat-select formControlName="providers" multiple>
          <mat-option
            *ngFor="let provider of providersList"
            [value]="provider.id"
            >{{ provider.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Poster URL</mat-label>
      <textarea
        formControlName="poster"
        matInput
        placeholder="Favor colar URL da imagem"
        rows="4"
        cols="50"
      ></textarea>
    </mat-form-field>

    <!-- </div> -->
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    style="margin-left: 8px"
    color="primary"
    (click)="actionFunction()"
  >
    {{ actionBtn }}
  </button>
</div>
