<app-header></app-header>
<div class="hero__video-inner">
  <img
    src="https://r4.wallpaperflare.com/wallpaper/721/144/958/movies-2001-a-space-odyssey-hal-9000-wallpaper-59b0289da1aa5dab06e7d85ff091967d.jpg"
    class="cover"
  />
</div>
<div class="flexbox-container">
  <app-movieserie
    *ngFor="let msObj of movieSeriesList; let i = index"
    [movieseries]="msObj"
    [providersList]="providersList"
    (deleteMSID)="deleteMovieSerie($event)"
    (UpdateMSID)="updateEvent($event)"
    (addMSIDtoWatchlist)="addToWatchlist($event)"
    appMaterialElevation
  >
    ></app-movieserie
  >
</div>

<!-- Toolbar fixed position buttons -->
<div class="addButton">
  <button
    mat-raised-button
    color="warn"
    (click)="goToWatchlist()"
    style="margin-right: 10px"
  >
    Watchlist
  </button>
  <button
    mat-raised-button
    color="secondary"
    (click)="openDialog(providersList)"
  >
    Add Movie/Serie
  </button>
</div>
