.card {
  justify-content: center;
  align-items: center;
  min-width: 800px;
  min-height: 200px;
  margin: 25px;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
