.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
  align-items: center;
  width: 600px;
  height: 450px;
  margin: 25px;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;

  .poster {
    width: 200px;
    height: 300px;
    margin-top: 10px;
    margin-right: 10px;
  }

  .description {
    height: 75px;
  }
}
