<mat-card class="card">
  <mat-card-title-group>
    <mat-card-title>{{ movieseries.title }}</mat-card-title>
    <mat-card-subtitle>{{ movieseries.genre }}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <img
      mat-card-image
      src="{{ movieseries.poster }}"
      alt="Poster"
      class="poster"
    />
  </mat-card-content>
  <div class="description">
    <p style="overflow-y: scroll; height: 75px">
      {{ movieseries.description }}
    </p>
  </div>
  <div style="width: 400px; grid-column-start: 1; grid-column-end: 2">
    <button
      mat-raised-button
      color="primary"
      (click)="editMS(movieseries, providersList)"
      style="margin: 10px"
    >
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>
    <button mat-raised-button color="warn" (click)="deleteMS()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
    <button mat-icon-button color="accent" (click)="addWatchlist()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-card>
